# Dependencias
/node_modules/

# Carpetas de construcción
/.next/
/out/
/build/
/dist/

# Archivos de configuración del entorno
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos generados por el sistema
.DS_Store
Thumbs.db

# Directorios de caché
.next/cache/
.cache/

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios que pueden contener archivos sensibles
certs/
secret/

# Archivos específicos de herramientas de desarrollo
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Archivos de cobertura
/coverage/

# Archivos de configuración de herramientas de CI
/.travis.yml
/circle.yml
